#float-menu-container {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 2;
}

#float-menu-container > img {
  background-color: #146fbe;
  opacity: 0.7;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#float-menu-container > img:hover {
  opacity: 1;
}
